/* ---------->>> ABOUT <<<-----------*/
.about {
	font-family: $font__sans-serif;
	@include responsive-font(2vw, 18px, 30px);
	padding:3vh 3vw 3vh 3vw;
	line-height: 1.5;
	a {
		font-style: italic;
		color: $color__accent;
		text-decoration: none;
	}
	strong {
		color: $color__accent;
	}
	.about__paragraph--one {
		color: $color__accent;
		font-family: $font__serif;
		@include responsive-font(4vw, 24px, 60px);
		margin: 1vh 0;
	}
	.about__headshot {
		width: 100%;
		height: auto;
		min-width: 64px;
		max-width: 150px;
		border: 3px solid $color__primary;
		border-radius: 50%;
	}
}


