/* ---------->>> ABOUT <<<-----------*/
.about {
	font-family: $font__sans-serif;
	@include responsive-font(2.5vh, 18px);
	padding:0 1.5em;
	@include break(900px){
		padding: 0 4em;
	}
	line-height: 1.5em;
	a {
		font-style: italic;
		color: $color__accent;
		text-decoration: none;
	}
	strong {
		color: $color__accent;
	}
	.about__paragraph--one {
		color: $color__accent;
		font-family: $font__serif;
		@include responsive-font(7.5vh, 18px);
		line-height: 0;
	}
	.about__headshot {
		width: 20%;
		max-width: 150px;
		height: auto;
		border: 3px solid $color__primary;
		border-radius: 50%;
		float: right;
		margin-right: 1em;
	}
}


