.about {
	background-color: white;
	font-family: $font__sans-serif;
	font-size: 1.5em;
	padding:1.5em;
	@include break(900px){
		padding: 0 4em;
	}
	line-height: 1.5em;
	a {
		font-style: italic;
		color: $color__accent;
		text-decoration: none;
	}
	strong {
		color: $color__accent;
	}
	.about__paragraph--one {
		color: $color__accent;
		font-family: $font__serif;
		font-size: 3em;
		line-height: 0em;
	}
	.about__headshot {
		display: none;
		display: inherit;
		border: 3px solid $color__primary;
		border-radius: 50%;
		width: 30%;
		max-width: 150px;
		height: auto;
	}
}


