/* ---------->>> VARIABLES <<<-----------*/ 
$color__background: #F2F2F2;
$color__primary: #5171A5;
$color__primary--lighter: #5171A5;
$color__accent: #BA2C73;
$color__text: #333333;
$font__serif: Bitter,Century,Georgia,Times,serif;
$font__sans-serif: Raleway,Roboto,Arial,sans-serif;

/* ---------->>> GLOBAL <<<-----------*/ 
.screen-reader-text { 
	clip: rect(1px, 1px, 1px, 1px); 
	height: 1px; 
	width: 1px; 
	overflow: hidden; 
	position: absolute !important;
}