/* ---------->>> CAROUSEL <<<-----------*/ 
.carousel__heading {
	font-family: $font__serif;
	@include responsive-font(8vh, 18px);
	color: $color__primary;
	margin: 0 auto;
	padding: 0 auto;
}
.slide {
	background-color: $color__background;
	text-align: center;

	p {
		font-family: $font__sans-serif;
		@include responsive-font(4vh, 18px);
		color: $color__text;
	}
	.project__title {
		font-family: $font__serif;
		@include responsive-font(6vh, 18px);
		color: $color__primary;
	}
	.project__image {
		height: auto;
		width: 90%;
		max-width: 600px;
		border: 3px solid $color__primary;
		border-radius: 20px;
		margin-top: 1em;
	}
	.project__link {
		font-style: italic;
		a {
			color: $color__primary;
			text-decoration: none;
		}
	}
}

.fp-controlArrow {
	opacity: .5;
}

.fp-controlArrow.fp-next {
	border-color: transparent transparent transparent $color__accent;
}

.fp-controlArrow.fp-prev {
	border-color: transparent $color__accent transparent transparent;
}

.iScrollIndicator {
	visibility: hidden;
}


.arrow {
	display: inline-block;
    cursor: pointer;
    width: 0;
    height: 0;
    transform: translate3d(0,0,0);
    border-style: solid;
    opacity: .5;
    border-width: 34px;
    position: relative;
    left: -5px;
    margin: 1em auto;

}

.arrow--down {
    border-color: #BA2C73 transparent transparent transparent;
}

.arrow--up {
    border-color: transparent transparent #BA2C73 transparent;
}

