/* ---------->>> HEADER <<<-----------*/ 

header {
	background-color: $color__text;
	color: $color__background;
	.header__heading {
		position: absolute;
		margin-left: 2em;
		top: 25%;
		height: 50%;
		h1 {
			font-family: $font__serif;
			color: $color__primary;
			@include responsive-font(10vh, 48px);
			margin: 0;
		}
		p {
			font-family: $font__sans-serif;
			color: $color__primary;
			@include responsive-font(5vh, 24px);
			margin: 0;
		}	
	}

	button {
		background-color: $color__accent;
		color: $color__background;
		border: 3px solid $color__background;
		border-radius: 12px;
		font-family: $font__serif;
		@include responsive-font(10vh, 48px);
		position: absolute;
		right: -15px;
		top: 75%;
		padding: 0 2em 0 1em;
	}
}
