@import "https://fonts.googleapis.com/css?family=Bitter|Raleway";
/* ---------->>> VARIABLES <<<-----------*/
/* ---------->>> GLOBAL <<<-----------*/
body {
  margin: 0;
  min-width: 340px;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
}

/* ---------->>> HEADER <<<-----------*/
header {
  background-color: #333333;
  background: url("../../img/asanoha.png") 0 0 repeat;
  animation: 15s linear 0s normal none infinite animate;
}
@-webkit-keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 347px;
  }
}
@-moz-keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 347px;
  }
}
@-ms-keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 347px;
  }
}
@-o-keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 347px;
  }
}
@keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 347px;
  }
}
header .header__heading {
  position: absolute;
  margin-left: 2em;
  top: 25%;
  height: 50%;
  font-family: Bitter, Century, Georgia, Times, serif;
  color: #5171A5;
  animation: 10s linear 0s normal none infinite colorshift;
}
@-webkit-keyframes colorshift {
  0% {
    color: #5171A5;
  }
  50% {
    color: #B4D3DA;
  }
  60% {
    color: #B4D3DA;
  }
  90% {
    color: #5171A5;
  }
}
@-moz-keyframes colorshift {
  0% {
    color: #5171A5;
  }
  50% {
    color: #B4D3DA;
  }
  60% {
    color: #B4D3DA;
  }
  90% {
    color: #5171A5;
  }
}
@-ms-keyframes colorshift {
  0% {
    color: #5171A5;
  }
  50% {
    color: #B4D3DA;
  }
  60% {
    color: #B4D3DA;
  }
  90% {
    color: #5171A5;
  }
}
@-o-keyframes colorshift {
  0% {
    color: #5171A5;
  }
  50% {
    color: #B4D3DA;
  }
  60% {
    color: #B4D3DA;
  }
  90% {
    color: #5171A5;
  }
}
@keyframes colorshift {
  0% {
    color: #5171A5;
  }
  50% {
    color: #B4D3DA;
  }
  60% {
    color: #B4D3DA;
  }
  90% {
    color: #5171A5;
  }
}
header .header__heading h1 {
  font-size: 10vh;
  margin: 0;
}
@media (max-height: 480px) {
  header .header__heading h1 {
    font-size: 48px;
  }
}
header .header__heading p {
  font-size: 5vh;
  margin: 0;
}
@media (max-height: 480px) {
  header .header__heading p {
    font-size: 24px;
  }
}
header .header__links {
  display: none;
}
@media (min-width: 650px) {
  header .header__links {
    display: inherit;
    position: absolute;
    bottom: 5%;
    right: -12px;
  }
  header .header__links a {
    display: inherit;
    opacity: .5;
    text-decoration: none;
    background-color: #BA2C73;
    color: #F2F2F2;
    border: 3px solid #F2F2F2;
    border-radius: 12px;
    font-family: Bitter, Century, Georgia, Times, serif;
    font-size: 7vh;
    padding: 0 2em 0 1em;
  }
}
@media (min-width: 650px) and (max-height: 685.71429px) {
  header .header__links a {
    font-size: 48px;
  }
}

/* ---------->>> CAROUSEL <<<-----------*/
.project {
  padding: 2em 1em;
  text-align: center;
  border-bottom: 3px solid #B4D3DA;
  background-color: #F2F2F2;
}
.project h2 {
  font-family: Bitter, Century, Georgia, Times, serif;
  font-size: 2.5em;
  color: #5171A5;
  padding: 0 1em;
  margin: 0;
  line-height: 1em;
}
.project .project__title {
  font-family: Bitter, Century, Georgia, Times, serif;
  font-size: 4vh;
  color: #5171A5;
  margin: .5em auto;
}
@media (max-height: 450px) {
  .project .project__title {
    font-size: 18px;
  }
}
.project .project__image {
  max-width: 90%;
  border: 3px solid #B4D3DA;
  border-radius: 20px;
}
.project .project__description {
  font-family: Raleway, Roboto, Arial, sans-serif;
  font-size: 3vh;
  color: #333333;
  margin: auto 1.5em;
}
@media (max-height: 600px) {
  .project .project__description {
    font-size: 18px;
  }
}
.project .project__link {
  font-style: italic;
}
.project .project__link a {
  color: #5171A5;
  text-decoration: none;
}

.fp-controlArrow {
  opacity: .5;
}

.fp-controlArrow.fp-next {
  border-color: transparent transparent transparent #BA2C73;
}

.fp-controlArrow.fp-prev {
  border-color: transparent #BA2C73 transparent transparent;
}

.iScrollIndicator {
  visibility: hidden;
}

.about {
  background-color: white;
  font-family: Raleway, Roboto, Arial, sans-serif;
  font-size: 1.5em;
  padding: 1.5em;
  line-height: 1.5em;
}
@media (min-width: 900px) {
  .about {
    padding: 0 4em;
  }
}
.about a {
  font-style: italic;
  color: #BA2C73;
  text-decoration: none;
}
.about strong {
  color: #BA2C73;
}
.about .about__paragraph--one {
  color: #BA2C73;
  font-family: Bitter, Century, Georgia, Times, serif;
  font-size: 3em;
  line-height: 0em;
}
.about .about__headshot {
  display: none;
  display: inherit;
  border: 3px solid #B4D3DA;
  border-radius: 50%;
  width: 30%;
  max-width: 150px;
  height: auto;
}
